* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /*background-image: url(../plan_3D/background.png);*/
    background-color: #7c842a;
}
html {
    background-repeat: repeat;
}
body {
    /*min-height: 1280px;*/
    font-weight: 300;
    color: #2a2a2a;
}

p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
    font-weight: 300;
}

a,
a:visited,
a:hover {
    color: #ffffff;
    text-decoration: none;
    /*border-bottom: 1px solid currentColor;*/
}

/*====================MES RAJOUTS=================================*/

#home{
    background: linear-gradient(#f2f2f6, #d3d3e7);
    height: 100vh;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#scrollLent{
    align-items: center;
    justify-content: center;
    weight: 40%
}
.fixme {
    background: black;
    color: #878787;;
    text-align: center;
    width: 100%;
    height: 50px;
    z-index:1;
    background-color: #202020;
}
#carte{
    margin-top: 50px;
    background-color: #7c842a;

}
/*==================== FIN   =================================*/
#intro {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    color: white
}

.intro__overline {
    font-size: 1.4rem;
}

.intro__hed {
    font-size: 1.4rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.intro__dek {
    font-size: 1.4rem;
}

/* demo */

#intro {
    margin-bottom: 320px;
}

#outro {
    height: 640px;
}

/* scrollama */

#scroll {
    position: relative;
    border-top: 1px ridge #7c842a;
    border-bottom: 1px ridge #7c842a;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-top: 50px;
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.chart {
    position: absolute;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /*background-color: #ddd;*/
    /*border: 1px solid #000;*/
}

.chart p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #666;
}

.scroll__text {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
    width: 33%;
}

.step {
    margin: 50px auto;
    border: 1px solid #023f5f12;
    border-radius: 10px;
    color: rgba(250, 250, 250, 0.54);
    background-color: #00000021;
}

.step.is-active {
    background-color: #444444a3;
    border-color: #0000001c;
    color: white;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
img {
    max-width: 100%;
}
/**====================== button scroll to top ====================*/
.scrollToTop{
    width:100px;
    /*height:130px;*/
    padding:10px;
    text-align:center;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:50px;
    right:40px;
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
}

/*=====================PLAN EN DETAIL================================*/


/*body {*/
/*    font-family: "Libre Baskerville", serif;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    line-height: 30px;*/
/*    background-color: #0c0f15;*/
/*    color: #ababab; }*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #7c842a;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.heading-page
{
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
}
a {
    color: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
a:hover, a:focus {
    color: #ababab;
    text-decoration: none;
    outline: 0 none; }

h1, h2, h3,
h4, h5, h6 {
    color: #1e2530;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    line-height: 1.3; }

p {
    margin-bottom: 20px; }
p:last-child {
    margin-bottom: 0; }

/*
 * Selection color
 */
::-moz-selection {
    background-color: #7c842a;
    color: #fff; }

::selection {
    background-color: #7c842a;
    color: #fff; }

/*
 *  Reset bootstrap's default style
 */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
    opacity: 1;
    color: inherit; }

.form-control:-moz-placeholder,
:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    color: inherit; }

.form-control::-moz-placeholder,
::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    color: inherit; }

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
    opacity: 1;
    color: inherit; }

button, input, select,
textarea, label {
    font-weight: 400; }

.btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
.btn:hover, .btn:focus, .btn:active:focus {
    outline: 0 none; }

.btn-primary {
    background-color: #7c842a;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 50px;
    padding: 0 42px;
    text-transform: uppercase; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #7c842a; }

.btn-border {
    border: 1px solid #d7d8db;
    display: inline-block;
    padding: 7px; }

/*
 *  CSS Helper Class
 */
.clear:before, .clear:after {
    content: " ";
    display: table; }

.clear:after {
    clear: both; }

.pt-table {
    display: table;
    width: 100%;
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px); }

.pt-tablecell {
    display: table-cell;
    vertical-align: middle; }

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative; }

.primary,
.link:hover {
    color: #7c842a; }

.no-gutter {
    margin-left: 0;
    margin-right: 0; }
.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }

.nicescroll-cursors {
    background: #7c842a !important; }

.preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
.preloader.active.hidden {
    display: none; }

.loading-mask {
    background-color: #7c842a;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
    -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s; }
.loading-mask:nth-child(2) {
    left: 20%;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
.loading-mask:nth-child(3) {
    left: 40%;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
.loading-mask:nth-child(4) {
    left: 60%;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
.loading-mask:nth-child(5) {
    left: 80%;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s; }

.preloader.active.done {
    z-index: 0; }

.preloader.active .loading-mask {
    width: 0; }

/*------------------------------------------------
  Start Styling
-------------------------------------------------*/
.mt20{margin-top:20px;}
.site-wrapper {
    border-top: 4px solid #7c842a; }

.page-close {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100; }

.page-title {
    margin-bottom: 75px; }
.page-title img {
    margin-bottom: 20px; }
.page-title h2 {
    font-size: 68px;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase; }
.page-title p {
    font-size: 16px; }
.page-title .title-bg {
    color: rgba(30, 37, 48, 0.07);
    font-size: 158px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.section-title {
    margin-bottom: 20px; }
.section-title h3 {
    display: inline-block;
    position: relative; }
.section-title h3::before, .section-title h3::after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 8px;
    left: -webkit-calc(100% + 14px);
    left: -moz-calc(100% + 14px);
    left: calc(100% + 14px); }
.section-title h3::before {
    background-color: #1e2530;
    width: 96px;
    bottom: 14px; }
.section-title h3::after {
    background-color: #7c842a;
    width: 73px; }
.section-title.light h3 {
    color: #fff; }
.section-title.light h3::before {
    background-color: #fff; }

.page-nav {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0; }
.page-nav span {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase; }

/*------------------------------------------------
    Home Page
-------------------------------------------------*/

.hexagon-item:first-child {
    margin-left: 0;
}

.page-body {
    color: white;
    white-space: pre-line;
}
.page-home {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle; }
.page-home .overlay {
    background-color: rgba(14, 17, 24, 0.97);
}

/* End of container */
.hexagon-item {
    cursor: pointer;
    width: 200px;
    height: 173.20508px;
    float: left;
    margin-left: -29px;
    z-index: 0;
    position: relative;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
.hexagon-item:first-child {
    margin-left: 0; }
.hexagon-item:hover {
    z-index: 1; }
.hexagon-item:hover .hex-item:last-child {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }
.hexagon-item:hover .hex-item:first-child {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
.hexagon-item:hover .hex-item:first-child div:before,
.hexagon-item:hover .hex-item:first-child div:after {
    height: 5px; }
.hexagon-item:hover .hex-item div::before,
.hexagon-item:hover .hex-item div::after {
    background-color: #7c842a; }
.hexagon-item:hover .hex-content svg {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97); }

.page-home .hexagon-item:nth-last-child(1),
.page-home .hexagon-item:nth-last-child(2),
.page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px); }

.hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173.20508px; }
.hex-item:first-child {
    z-index: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hex-item:last-child {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1; }
.hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100px;
    height: 173.20508px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; }
.hex-item div::before, .hex-item div::after {
    background-color: #1e2530;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.hex-item div:before {
    top: 0; }
.hex-item div:after {
    bottom: 0; }
.hex-item div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
.hex-item div:nth-child(2) {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }
.hex-item div:nth-child(3) {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg); }

.hex-content {
    color: #fff;
    display: block;
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px; }
.hex-content .hex-content-inner {
    left: 50%;
    margin: -3px 0 0 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.hex-content .icon {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px; }
.hex-content .title {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase; }
.hex-content svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.hex-content:hover {
    color: #fff; }

.page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px);
}
/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/
.author-image-large {
    position: absolute;
    right: 0;
    top: 0; }
.author-image-large img {
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px); }


@media (min-width: 1200px)
{
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
}

@media (min-width: 1200px)
{
    .col-lg-8 {
        width: 66.66666667%;
    }
}

.hexagon-item:first-child {
    margin-left: 0;
}

.pt-table.desktop-768 .pt-tablecell {
    padding-bottom: 110px;
    padding-top: 60px;
}



.hexagon-item:hover .icon i
{
    color:#7c842a;
    transition:0.6s;

}


.hexagon-item:hover .title
{
    -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/***************************/

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 767px)
{
    .hexagon-item {
        float: none;
        margin: 0 auto 50px;
    }
    .hexagon-item:first-child {
        margin-left: auto;
    }

    .page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
        -webkit-transform: rotate(30deg) translate(0px, 0px);
        -moz-transform: rotate(30deg) translate(0px, 0px);
        -ms-transform: rotate(30deg) translate(0px, 0px);
        -o-transform: rotate(30deg) translate(0px, 0px);
        transform: rotate(30deg) translate(0px, 0px);
    }

}
/*======================FIN PLAN EN DETAIL========================*/

/*====================== defilement image reseaux========================*/
*,*:before,*:after{box-sizing:border-box}

img{

    max-width:100%

}

.diapo_auto_rwd{

    position:relative;
    /*max-width:600px;*/
    margin:2rem auto;
    overflow:hidden

}

.diapo_auto_rwd input[type=radio]{

    position: absolute;
    left: -9999px

}

.diapo_auto_rwd label{

    cursor:pointer

}

.diapo_auto_rwd ul {

    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden

}

.diapo_auto_rwd ul .slide_diapo {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .8s

}


/*slide images, on place les photos cote a cote*/

ul .slide_diapo.image1{

    left: 0

}

ul .slide_diapo.image2{

    left: 100%

}

ul .slide_diapo.image3{

    left: 200%

}

#slide1:checked ~ ul .slide_diapo,
#pause1:checked ~ ul .slide_diapo {

    transform: translatex(0)

}

#slide2:checked ~ ul .slide_diapo,
#pause2:checked ~ ul .slide_diapo {

    transform: translatex(-100%)

}

#slide3:checked ~ ul .slide_diapo,
#pause3:checked ~ ul .slide_diapo{

    transform: translatex(-200%)

}


/*defilement automatique des photos lorsqu'on clique sur le bouton play*/
#lance-diapo:checked ~ ul .slide_diapo {

    animation: slide-diapo 12.3s infinite

}

/*animation css3 defilement automatique des photos*/
@keyframes slide-diapo {

    0%,25%{

        margin-left: 0

    }

    33%,58%{

        margin-left: -100%

    }

    66%,91%{

        margin-left: -200%

    }

}



.diapo_auto_rwd img,
.precedent,
.suivant,
.lancement_arret {

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none /*empêche de selctionner les images et icones*/

}


/*navigation fleches droite et gauche*/
.precedent,
.suivant {

    position: absolute;
    top: 50%;
    z-index: 1

}

.precedent label,
.suivant label {

    position: absolute;
    opacity: 0;
    z-index: -1;
    height: 50px;
    width: 0;
    transform: translate(0,-50%);

}

.precedent {

    left: 0

}

.suivant {

    right:50px

}

.precedent label:before{

    content:"\f053";
    font-weight: 900;

}

.suivant label:before{

    content: "\f054";
    font-weight: 900;

}

.precedent label:before,
.suivant label:before{

    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background: hsl(65deg 52% 34%);
    transition: background .3s;
    color: white

}

.precedent:hover label:before,
.suivant:hover label:before{

    background: hsla(0,0%,0%,.8)

}


#slide1:checked ~ .precedent .image3,
#pause1:checked ~ .precedent .image3,
#slide1:checked ~ .suivant .image2,
#pause1:checked ~ .suivant .image2,
#slide2:checked ~ .precedent .image1,
#pause2:checked ~ .precedent .image1,
#slide2:checked ~ .suivant .image3,
#pause2:checked ~ .suivant .image3,
#slide3:checked ~ .precedent .image2,
#pause3:checked ~ .precedent .image2,
#slide3:checked ~ .suivant .image1,
#pause3:checked ~ .suivant .image1 {

    opacity: 1;
    z-index: 1

}

@keyframes fleche_diapo {

    0%,33.33%{

        opacity: 1;
        z-index: 0

    }

    33.34%,100%{

        opacity: 0;
        z-index: -1

    }

}


#lance-diapo:checked ~ .precedent .image3,
#lance-diapo:checked ~ .suivant .image2 {

    animation: fleche_diapo 12.3s infinite -1s

}

#lance-diapo:checked ~ .precedent .image1,
#lance-diapo:checked ~ .suivant .image3 {

    animation: fleche_diapo 12.3s infinite 3.1s

}


#lance-diapo:checked ~ .precedent .image2,
#lance-diapo:checked ~ .suivant .image1 {

    animation: fleche_diapo 12.3s infinite 7.2s

}


/*Play-Pause*/
.lancement_arret,
.lancement_arret label{

    position: absolute

}

.lancement_arret {

    top: 50%;
    left: 50%;
    z-index: 2

}

.lancement_arret label {

    transform: translate(-50%,-50%)
}

.lance_diapo:after{

    content:"\f28b"

}

.pause_diapo:after{

    content:"\f144"

}

.lancement_arret label:after{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    transition: background .3s;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #7c842a;
    position: absolute;
}

.lancement_arret:hover label:after{

    background: hsla(0,0%,0%,.6)

}


#lance-diapo:checked ~ .lancement_arret .pause_diapo,
.slide_diapo:checked ~ .lancement_arret .lance_diapo,
.pause_diapo:checked ~ .lancement_arret .lance_diapo {

    display: flex;
    z-index: 2

}

#lance-diapo:checked ~ .lancement_arret .lance_diapo,
.slide_diapo:checked ~ .lancement_arret .pause_diapo,
.pause_diapo:checked ~ .lancement_arret .pause_diapo {

    display: none;
    z-index: -1

}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image1,
#lance-diapo:checked ~ .lancement_arret .pause_diapo.image2,
#lance-diapo:checked ~ .lancement_arret .pause_diapo.image3{

    opacity: 0;
    z-index: -1

}



#lance-diapo:checked ~ .lancement_arret .pause_diapo.image1 {

    animation: fleche_diapo 12.3s infinite -1s

}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image2 {

    animation: fleche_diapo 12.3s infinite 3.1s

}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image3 {

    animation: fleche_diapo 12.3s infinite 7.2s

}


#lance-diapo:checked ~ ul .slide_diapo,
.pause_diapo:checked ~ ul .slide_diapo,
.pause_diapo:checked ~ .precedent label,
.pause_diapo:checked ~ .suivant label,
.slide_diapo:checked ~ .precedent label,
.slide_diapo:checked ~ .suivant label{

    transition:none

}/*on revient directement a la premiere photo sans effet de slide*/
/*======================FIN image reseaux========================*/
