/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* colors */
/* body */
body #main_section_equipements {
    --main-bg-color: #6c757d;
    /*background: rgba(0, 0, 0, 0.9);*/
    font-family: "Open Sans", sans-serif;
    /*background-image: url(https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);*/
    background-position: center;
    background-size: cover;
    color: antiquewhite;
}
#main_section_equipements .row mlb{

}
#main_section_equipements .title-tab{
    text-align: center;
}
#main_section_equipements .overlay {
    background-color: rgba(14, 17, 24, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* links */
#main_section_equipements .nfl a, .mlb a, .nhl a, .pga a {
    text-decoration: none;
    transition: color 0.2s ease-out;
}

#main_section_equipements .nfl a {
    color: #4fc0d2;
}

#main_section_equipements .nfl a:hover {
    color: #268695;
}

#main_section_equipements .mlb a {
    color:  var(--main-bg-color) ;
}

#main_section_equipements .mlb a:hover {
    color: rgb(39, 206, 181);
}

#main_section_equipements .nhl a {
    color: rgba(231, 196, 104, 0.7);
}

#main_section_equipements .nhl a:hover {
    color: rgba(201, 154, 32, 0.7);
}

#main_section_equipements .pga a {
    color: #eb7655;
}

#main_section_equipements .pga a:hover {
    color: #c33d17;
}

/* wrapper */
#main_section_equipements {
    width: 100%;
    /*max-width: 1000px;*/
    margin: 20px auto 100px auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    position: relative;
}

/* lists */
#main_section_equipements .row ul {
    margin: 0;
    padding: 0;
}
#main_section_equipements .quantity{
    width: 10% !important;
}
#main_section_equipements .denomination{
    width: 30% !important;
}
#main_section_equipements .row ul li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    width: 10%;
    box-sizing: border-box;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    #main_section_equipements .row ul li {
        font-size: 13px;
    }
}
@media only screen and (max-width: 479px) {
    #main_section_equipements .row ul li {
        font-size: 13px;
    }
}

#main_section_equipements .title ul li {
    padding: 15px 13px;
}

#main_section_equipements .row ul li {
    padding: 5px 10px;
}

/* rows */
#main_section_equipements .row {
    padding: 20px 0;
    height: 30px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#main_section_equipements .row:hover {
    background-color: rgba(26, 26, 26, 0.33);
    height: max-content;
}
#main_section_equipements @media only screen and (max-width: 767px) {
    .row:hover {
        height: max-content;
    }
}
#main_section_equipements @media only screen and (max-width: 359px) {
    .row:hover {
        height: max-content;
    }
}

#main_section_equipements .title {
    padding: 25px 0 5px 0;
    height: 45px;
    font-size: 0;
    background-color: 3px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-right: 3px solid rgba(255, 255, 255, 0.1);
}

#main_section_equipements .title:hover {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}
#main_section_equipements .article-title{
    color:  var(--main-bg-color);
    background-color: #31876f30;
}
#main_section_equipements .article-title:hover{
    color:  var(--main-bg-color);
    background-color: #31876f30;
}
#main_section_equipements @media only screen and (max-width: 767px) {
    #main_section_equipements .title-hide {
        display: none;
    }
}

#main_section_equipements .nfl {
    border-left: 3px solid #1c616c;
}

#main_section_equipements .nfl:hover {
    border-left: 3px solid #4fc0d2;
}

#main_section_equipements .mlb {
    /*border-left: 3px solid  var(--main-bg-color) ;*/
    /*color: #7c842a; background-color: rgba(124,132,42,0.28);*/
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-right: 3px solid rgba(255, 255, 255, 0.1);
}

#main_section_equipements .mlb:hover {
    border-left: 3px solid rgba(26, 26, 26, 0.07);

}

#main_section_equipements .nhl {
    border-left: 3px solid rgba(157, 121, 25, 0.7);
}

#main_section_equipements .nhl:hover {
    border-left: 3px solid rgba(231, 196, 104, 0.7);
}

#main_section_equipements .pga {
    border-left: 3px solid #952f12;
}

#main_section_equipements .pga:hover {
    border-left: 3px solid #eb7655;
}

/* row one - fadeIn */
#main_section_equipements .row-fadeIn-wrapper {
    opacity: 0;
    font-size: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    -webkit-animation: fadeIn 0.4s ease-out 2s 1 alternate;
    animation: fadeIn 0.4s ease-out 2s 1 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#main_section_equipements .row-fadeIn-wrapper:hover {
    height: 35px;
}
#main_section_equipements @media only screen and (max-width: 767px) {
    #main_section_equipements .row-fadeIn-wrapper:hover {
        height: max-content;
    }
}
#main_section_equipements @media only screen and (max-width: 359px) {
    #main_section_equipements .row-fadeIn-wrapper:hover {
        height: max-content;
    }
}

#main_section_equipements .fadeIn {
    padding: 20px 0;
    font-size: 0;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

#main_section_equipements .fadeIn:hover {
    background-color: rgba(26, 26, 26, 0.9);
}

/* row two - fadeOut */
#main_section_equipements .row-fadeOut-wrapper {
    font-size: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    -webkit-animation: fadeOut 0.4s ease-out 8s 1 alternate;
    animation: fadeOut 0.4s ease-out 8s 1 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
    height: 65px;
}

#main_section_equipements .row-fadeOut-wrapper:hover {
    height: max-content;
}

/* update content */
#main_section_equipements .update-row {
    -webkit-animation: update 0.5s ease-out 12s 1 alternate;
    animation: update 0.5s ease-out 12s 1 alternate;
}

#main_section_equipements .update1 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 1;
    -webkit-animation: update1 1s ease-out 12s 1 alternate;
    animation: update1 1s ease-out 12s 1 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#main_section_equipements .update2 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 0;
    -webkit-animation: update2 4s ease-out 13s 1 alternate;
    animation: update2 4s ease-out 13s 1 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* more content */
#main_section_equipements  ul.more-content li {
    position: relative;
    top: 22px;
    font-size: 13px;
    margin: 0;
    padding: 10px 13px;
    display: block;
    height: max-content;
    width: 100%;
    /*color: rgba(128, 128, 128, 0.9);*/
    color: rgb(249 235 235 /54%);
}
#main_section_equipements  .more-content a{
    color: white;
}
#main_section_equipements @media only screen and (max-width: 767px) {
    #main_section_equipements ul.more-content li {
        font-size: 11px;
    }
}

/* small content */
#main_section_equipements .small {
    color: rgba(102, 102, 102, 0.9);
    font-size: 10px;
    padding: 0 10px;
    margin: 0;
}
#main_section_equipements @media only screen and (max-width: 767px) {
    #main_section_equipements .small {
        display: none;
    }
}

/* keyframe animations */
#main_section_equipements @-webkit-keyframes fadeIn {
    from {
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        padding: 0;
    }
    to {
        background: rgba(51, 51, 51, 0.1);
        opacity: 1;
        padding: 0 0 65px 0;
    }
}
#main_section_equipements @keyframes fadeIn {
    from {
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        padding: 0;
    }
    to {
        background: rgba(51, 51, 51, 0.1);
        opacity: 1;
        padding: 0 0 65px 0;
    }
}
#main_section_equipements @-webkit-keyframes fadeOut {
    from {
        background: rgba(51, 51, 51, 0.1);
        opacity: 1;
        height: 65px;
    }
    to {
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        height: 0;
    }
}
#main_section_equipements @keyframes fadeOut {
    from {
        background: rgba(51, 51, 51, 0.1);
        opacity: 1;
        height: 65px;
    }
    to {
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        height: 0;
    }
}
#main_section_equipements @-webkit-keyframes update {
    0% {
        background: rgba(51, 51, 51, 0.1);
    }
    50% {
        background: rgba(255, 255, 255, 0.1);
    }
    100% {
        background: rgba(51, 51, 51, 0.1);
    }
}
#main_section_equipements @keyframes update {
    0% {
        background: rgba(51, 51, 51, 0.1);
    }
    50% {
        background: rgba(255, 255, 255, 0.1);
    }
    100% {
        background: rgba(51, 51, 51, 0.1);
    }
}
#main_section_equipements @-webkit-keyframes update1 {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#main_section_equipements @keyframes update1 {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#main_section_equipements @-webkit-keyframes update2 {
    0% {
        opacity: 0;
        color: rgba(255, 255, 255, 0.9);
    }
    20% {
        opacity: 1;
        color: #52d29a;
    }
    100% {
        opacity: 1;
        color: rgba(255, 255, 255, 0.9);
    }
}
#main_section_equipements @keyframes update2 {
    0% {
        opacity: 0;
        color: rgba(255, 255, 255, 0.9);
    }
    20% {
        opacity: 1;
        color: #52d29a;
    }
    100% {
        opacity: 1;
        color: rgba(255, 255, 255, 0.9);
    }
}